fastapi
uvicorn[standard]
httptools
websockets
pydantic
python-multipart
assemblyai
langgraph
langchain
langchain-core
langchain-community
langchain-groq
groq
langchain-google-genai
google-genai
scikit-learn
numpy
pandas
soundfile
scipy
pydub
redis
motor
pymongo
httpx[http2]
aiohttp
python-dotenv
edge-tts
gtts
certifi
chromadb
reportlab