fastapi
uvicorn[standard]
httptools
websockets
pydantic
python-multipart
orjson
assemblyai
langgraph
langchain
langchain-core
langchain-community
langchain-groq
groq
langchain-google-genai
google-genai
tiktoken
scikit-learn
numpy
pandas
edge-tts
redis[hiredis]
motor
pymongo
certifi
httpx[http2]
aiohttp
python-dotenv
chromadb
